<div class="what_we_offer ">

    <h3 id="Services">Our Services</h3>

    <div class="row rowService">

      <div class="col-lg-2 col-md-4 col-6 services_div">

        <img src="assets/image/survey.png" alt="" srcset="" height="40px" width="45px">
        <h4>Public Opinion <br> Survey</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.
        </p>
        <button (click)="route_to_page('service/public-opinion-survey')">Read More</button>

      </div>

      <div class="col-lg-2 col-md-4 col-6 services_div">

        <img src="assets/image/campaign.jpg" alt="" srcset="" height="40px" width="45px">
        <h4>Election campaign <br> Management</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.
        </p>
        <button (click)="route_to_page('service/election-campaign-management')">Read More</button>

      </div>

      <div class="col-lg-2 col-md-4 col-6 services_div">

        <img src="assets/image/seat wise.jpg" alt="" srcset="" height="40px" width="45px">
        <h4>Seat Wise <br>Survey</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.
        </p>
        <button (click)="route_to_page('service/seat-wise-survey')">Read More</button>

      </div>

      <div class="col-lg-2 col-md-4 col-6 services_div">

        <img src="assets/image/socio eco.jpg" alt="" srcset="" height="40px" width="45px">
        <h4>Socio-Economic <br> Research</h4>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.</p>
        <button (click)="route_to_page('service/socio-economic-research')">Read More</button>

      </div>

      <div class="col-lg-2 col-md-4 col-6 services_div">

        <img src="assets/image/political research.jpg" alt="" srcset="" height="40px" width="45px">
        <h4>Political Research & <br> Media Centre</h4>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.</p>
        <button (click)="route_to_page('service/political-research')">Read More</button>

      </div>

      <div class="col-lg-2 col-md-4 col-6 services_div">

        <img src="assets/image/social media.jpg" alt="" srcset="" height="40px" width="45px">
        <h4>Social Media <br> Campaign</h4>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.</p>
        <button (click)="route_to_page('service/social-media-campaign')">Read More</button>

      </div>

    </div>
  </div>