<div class="conatiner-fluid">

  <div class="row main_banner">
    <div class="col-md-8">
      <h2>
        Welcome to <br>
        Dattansh

        <p>
          Dattansh is a political research agency specializing in decoding elections using a unique combination of data
          analysis and grassroots perspectives. We aim to understand and explain electoral outcomes by identifying key
          trends, narratives, and voter behaviour through a comprehensive and multi-layered approach.
        </p>
      </h2>
      
    </div>
    <div class="col-md-4 img_back">

    </div>
  </div>

  <div class="row">

    <div class="col-12 who_we_are">
      <div class="containt">
        <h3>Who We Are</h3>
        <p>A Wirining Conditate Must Project The Righs mage Boost A Chior, Effective And Well Amiculoted Message And
          Adopt
          & Compaign Strategy Reflecting Unambiguous Godts Savi Putical Consulting. A leading Conservative Compoign
          Consulting firm Offers A Comprehensive Approach to Political Consulting to help You Achieve That Godi We
          Assist
          Candidates with Campaign And Communication Strategy, Reswonch And Message Development Traditional And Digital
          Putticol Media, And Piti mage Development
          <br>
          <br>
          Savi Punicar's Approach Enhances A Poltical Campaign's Overall rategic Goes y Assuing The Allocation of
          organizations And Financial Resources in The Most Efficient And Produtive Manner. Our Faitical Consultants
          Advice is tumblesed and Not Prut-Driven, Utsike Service Or Product Specific vendors, What the Offer Whather
          Media Buying Paling Or Digital Marketing Always Becomes An Integral Part Of The Compaign's Comprehensive
          Strategy
        </p>
        <div style="display: flex; justify-content: flex-end; width: 78%;">
          <a (click)="route_to_page('about-us')" align="Right">Read More <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-12 bodrer_5">
      <app-our-service></app-our-service>
    </div>

    <!-- <div class="col-md-12 what_we_offer" id="Services">

      <h3>Our Services
        <span>
          Choose Dattansh for innovative, reliable, and expertly crafted solutions that empower your business to <br>
          thrive in a connected, automated world.
        </span>
      </h3>

      <div class="row serveRow">

        <div class="col-md-4 col-sm-6 services_div">
          
            <img src="assets/image/survey.png" alt="" srcset="" height="70px" width="75px">
            <h4>Public Opinion Survey</h4>
            <p>we create apps that enhance user engagement, streamline operations, and drive your business to growth.
            </p>
            <button>Read More</button>
          
        </div>

        <div class="col-md-4 col-sm-6 services_div">
          
            <img src="assets/image/campaign.jpg" alt="" srcset="" height="70px" width="75px">
            <h4>Election campaign management</h4>
            <p>we create apps that enhance user engagement, streamline operations, and drive your business to growth.
            </p>
            <button>Read More</button>
          
        </div>

        <div class="col-md-4 col-sm-6 services_div">
          
            <img src="assets/image/seat wise.jpg" alt="" srcset="" height="70px" width="75px">
            <h4>Seat Wise Survey</h4>
            <p>we create apps that enhance user engagement, streamline operations, and drive your business to growth.
            </p>
            <button>Read More</button>
          
        </div>

        <div class="col-md-4 col-sm-6 services_div">
          
            <img src="assets/image/socio eco.jpg" alt="" srcset="" height="70px" width="75px">
            <h4>Socio-Economic Research</h4>
            <p> To help businesses create robust, user-friendly, and visually compelling online presences.</p>
            <button>Read More</button>
          
        </div>

        <div class="col-md-4 col-sm-6 services_div">
          
            <img src="assets/image/political research.jpg" alt="" srcset="" height="70px" width="75px">
            <h4>Political Research</h4>
            <p> To help businesses create robust, user-friendly, and visually compelling online presences.</p>
            <button>Read More</button>
          
        </div>
        
        <div class="col-md-4 col-sm-6 services_div">
          
            <img src="assets/image/social media.jpg" alt="" srcset="" height="70px" width="75px">
            <h4>Social Media Campaign</h4>
            <p> To help businesses create robust, user-friendly, and visually compelling online presences.</p>
            <button>Read More</button>
          
        </div>

      </div>
    </div> -->

    <div class="col-12 bodrer_5">
      <app-resource></app-resource>
    </div>

  </div>

  <div class="row part4">

    <div class="col-sm-6 quality_product_div2">

      <h4>Why <strong style="color:#bd0716;">Dattansh</strong> </h4>
      <div class="myunderline"></div>

      <p>
        Our strength lies in our ability to merge data-driven analysis with grassroots realities, offering a holistic
        view of electoral dynamics. By connecting numbers with narratives, we provide nuanced, actionable insights for
        those seeking to understand or engage with the democratic process.
      </p>

      <button class="contact_us">
        Learn More
      </button>

    </div>

    <div class="col-sm-6 p-2">
      <form [formGroup]="enquiry_form" (ngSubmit)="onSubmit()">
        <div class="row formside">
          <div class="col-12 colheading_part1">
            <h4>Contact Us</h4>
            <p>We’ll get back to you soon</p>

            <div class="myunderline"></div>
          </div>

          <div class="input_field col-md-6">
            <label for="firstName">First Name</label>
            <input id="firstName" formControlName="firstName" placeholder="First Name" />
            <div *ngIf="firstName?.invalid && firstName?.touched" class="error">
              <small *ngIf="firstName?.errors?.['required']">First Name is required.</small>
              <small *ngIf="firstName?.errors?.['minlength']">First Name must be at least 2 characters long.</small>
              <small *ngIf="firstName?.errors?.['maxlength']">First Name cannot exceed 30 characters.</small>
            </div>
          </div>

          <div class="input_field col-md-6 px-md-2">
            <label for="lastName">Last Name</label>
            <input id="lastName" formControlName="lastName" placeholder="Last Name" />
            <div *ngIf="lastName?.invalid && lastName?.touched" class="error">
              <small *ngIf="lastName?.errors?.['required']">Last Name is required.</small>
              <small *ngIf="lastName?.errors?.['minlength']">Last Name must be at least 2 characters long.</small>
              <small *ngIf="lastName?.errors?.['maxlength']">Last Name cannot exceed 30 characters.</small>
            </div>
          </div>

          <div class="input_field col-12">
            <label for="email">Email</label>
            <input id="email" formControlName="email" placeholder="Email" />
            <div *ngIf="email?.invalid && email?.touched" class="error">
              <small *ngIf="email?.errors?.['required']">Email is required.</small>
              <small *ngIf="email?.errors?.['email']">Enter a valid email address.</small>
            </div>
          </div>

          <div class="input_field col-12 mb-2">
            <label for="phone">Mobile Number</label>
            <input id="phone" formControlName="phone" placeholder="Mobile Number" />
            <div *ngIf="phone?.invalid && phone?.touched" class="error">
              <small *ngIf="phone?.errors?.['required']">Phone Number is required.</small>
              <small *ngIf="phone?.errors?.['pattern']">Enter a valid phone number.</small>
            </div>
          </div>

          <div style="display: flex; justify-content: flex-end; padding: 10px 0;">
            <button type="submit">Submit</button>
          </div>

        </div>
      </form>



    </div>

  </div>

</div>