* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.startcoversation {
    background-image: url("assets/image/aboutbanner.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    height: 550px;

    img {
        filter: drop-shadow(2px 4px 6px black);
        border-radius: 5px;
        right: 10%;
        top: 40%;
        position: absolute;
        height: 226px;
    }
}

.what_we_offer {
    padding: 50px 35px;
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    h3 {
        font-family: cursive !important;
        padding: 10px;
        text-align: center;
        color: #696868ce;
        font-weight: 400;
        font-size: 5.8em;
        margin-bottom: 10px;
        font-style: oblique;
    }

    p {
        color: #000000;
        font-weight: 500;
        text-align: center;
        font-size: 1em;
        width: 60%;
    }

    .rowService {
        display: flex;
        justify-content: space-evenly;
        .services_div {
            margin-top: 20px;
            width: 15.5%;
            background-color: rgba(196, 193, 193, 0.877);
            border-radius: 5px;
            box-shadow: 0px 0px 10px 7px #0000001A;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6px 4px;

            img {
                border-radius: 50%;
                background-color: #ffffff
            }

            h4 {
                margin-top: 5px;
                text-align: center;
                color: #000000;
                font-weight: 700;
                font-size: 0.7em;
            }

            p {
                color: #000000;
                margin-top: 5px;
                font-weight: 700;
                text-align: center;
                font-size: 0.65em;
                width: 100%;
            }

            button {
                margin-top: 6px;
                background-color: #bd0716;
                color: white;
                text-decoration: none;
                padding: 6px;
                border: none;
                font-size: 0.7em;

                &:hover {
                    filter: drop-shadow(2px 4px 6px black);
                    color: white;
                }
            }

            &:hover {
                scale: 1.1;

                button {
                    filter: drop-shadow(2px 4px 6px black);
                }
            }
        }

    }
}

.serv {
    padding: 5em 0;
    background: transparent;

    h3,
    p {
        color: rgb(255, 255, 255) !important;
    }

    .circleRow {
        display: flex;
        justify-content: space-evenly;

        img {
            border-radius: 50%;
        }

        .cirCol,
        .teamCol {
            margin-top: 15px;
            width: 23%;
            filter: drop-shadow(2px 4px 6px black);
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6px;
            border-radius: 24px;

            // height: 200px;
            h5 {
                height: 25px;
                text-align: center;
                color: #da0618 !important;
                font-weight: 600;
                font-size: 0.9em;
                margin-top: 10px;
                text-decoration: underline;
            }

            p {
                color: #000000 !important;
                margin-top: 15px;
                font-weight: 500;
                text-align: center;
                font-size: 0.75em;
                width: 100%;
            }
        }
    }
}

.backrow {
    background-image: url("assets/image/footer.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 1048px){
    .startcoversation {
        height: 480px;
    
        img {
           
            right: 5%;
            top: 35%;
            height: 186px;
        }
    }
}

@media (max-width: 992px) {
    .what_we_offer {
        padding: 30px 15px;
        h3 {
            font-size: 4.8em;
        }
        p {
            width: 90%;
        }
        .rowService {
            .services_div {
                width: 30%;
            }
        }
    }

    .serv {
        padding: 2em 0;
        .circleRow {
            .cirCol{
                width: 45%;
            }
        }
    }
    
}

@media (max-width: 768px) {

    .startcoversation {
        height: 330px;
    
        img {
           
            right: 5%;
            top: 30%;
            height: 146px;
        }
    }

    .what_we_offer {
        padding: 30px 15px;
        h3 {
            font-size: 3em;
        }
        .rowService {
            .services_div {
                width: 45%;
            }
        }
    }

    .serv {
        .circleRow {
            .teamCol{
                width: 45%;
            }
        }
    }
    
}

@media (max-width: 576px) {
    .serv {
        .circleRow {

            .teamCol, .cirCol{
                width: 97%;
            }
        }
    }
    
}


@media (max-width: 494px) {

    .startcoversation {
        height: 154px;
        background-size: cover;
        background-repeat: no-repeat;
        img {
         display: none;
        }
    }

}

@media (max-width: 300px) {

    .what_we_offer {
        padding: 10px 15px;
    
        p {
            width: 90%;
        }
        .rowService {
            .services_div {
                width: 95%;
            }
        }
    }

}