* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.startcoversation {
    background-image: url("../../../assets/image/aboutbanner.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    height: 550px;

    img {
        filter: drop-shadow(2px 4px 6px black);
        border-radius: 5px;
        right: 10%;
        top: 40%;
        position: absolute;
        height: 226px;
    }
}

.no_border{
    border: none;
}
.video_div {
    
    padding: 35px;
    padding-top: 0;
    background-color: white;
}

.serv {
    padding: 5em 0;
    background: transparent;

    h3,
    p {
        color: rgb(255, 255, 255) !important;
    }

    .circleRow {
        display: flex;
        justify-content: space-evenly;

        img {
            border-radius: 50%;
        }

        .cirCol,
        .teamCol {
            margin-top: 15px;
            width: 23%;
            filter: drop-shadow(2px 4px 6px black);
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6px;
            border-radius: 24px;

            // height: 200px;
            h5 {
                height: 25px;
                text-align: center;
                color: #da0618 !important;
                font-weight: 600;
                font-size: 0.9em;
                margin-top: 10px;
                text-decoration: underline;
            }

            p {
                color: #000000 !important;
                margin-top: 15px;
                font-weight: 500;
                text-align: center;
                font-size: 0.75em;
                width: 100%;
            }
        }
    }
}

.backrow {
    background-image: url("../../../assets/image/footer.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 1048px){
    .startcoversation {
        height: 480px;
    
        img {
           
            right: 5%;
            top: 35%;
            height: 186px;
        }
    }
}

@media (max-width: 992px) {

    .serv {
        padding: 2em 0;
        .circleRow {
            .cirCol{
                width: 45%;
            }
        }
    }
    
}

@media (max-width: 768px) {

    .startcoversation {
        height: 330px;
    
        img {
           
            right: 5%;
            top: 30%;
            height: 146px;
        }
    }

    .serv {
        .circleRow {
            .teamCol{
                width: 45%;
            }
        }
    }
    
    .video_div {

        iframe {
            margin-top: 20px;
            height: 200px;
            width: 100%;
        }
    }

}

@media (max-width: 576px) {
    .serv {
        .circleRow {

            .teamCol, .cirCol{
                width: 97%;
            }
        }
    }
    
}


@media (max-width: 494px) {

    .startcoversation {
        height: 154px;
        background-size: cover;
        background-repeat: no-repeat;
        img {
         display: none;
        }
    }

}
