<div class="container-fluid">

  <div class="row">
    <div class="col-12 startcoversation">
      <img src="../../../assets/image/dattansh logo.jpg" alt="" srcset="" height="320px">
    </div>
  </div>

  <div class="row backrow">

    <div class="col-md-12 what_we_offer serv" style="border-top: 5px solid #da0618;">

      <h3>Vision</h3>

      <p>
        "To be a trusted partner in electoral research, helping decode the complexities of voter behavior and fostering
        a
        deeper understanding of democracy through a blend of rigorous data analysis and grassroots perspectives."
      </p>
    </div>

    <div class="col-md-12 what_we_offer ">

      <h3>Our Services</h3>

      <div class="row rowService">

        <div class="col-lg-2 col-md-4 col-6 services_div">

          <img src="../../../assets/image/survey.png" alt="" srcset="" height="40px" width="45px">
          <h4>Public Opinion <br> Survey</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.
          </p>
          <button>Read More</button>

        </div>

        <div class="col-lg-2 col-md-4 col-6 services_div">

          <img src="../../../assets/image/campaign.jpg" alt="" srcset="" height="40px" width="45px">
          <h4>Election campaign <br> Management</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.
          </p>
          <button>Read More</button>

        </div>

        <div class="col-lg-2 col-md-4 col-6 services_div">

          <img src="../../../assets/image/seat wise.jpg" alt="" srcset="" height="40px" width="45px">
          <h4>Seat Wise <br>Survey</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.
          </p>
          <button>Read More</button>

        </div>

        <div class="col-lg-2 col-md-4 col-6 services_div">

          <img src="../../../assets/image/socio eco.jpg" alt="" srcset="" height="40px" width="45px">
          <h4>Socio-Economic <br> Research</h4>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.</p>
          <button>Read More</button>

        </div>

        <div class="col-lg-2 col-md-4 col-6 services_div">

          <img src="../../../assets/image/political research.jpg" alt="" srcset="" height="40px" width="45px">
          <h4>Political <br> Research</h4>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.</p>
          <button>Read More</button>

        </div>

        <div class="col-lg-2 col-md-4 col-6 services_div">

          <img src="../../../assets/image/social media.jpg" alt="" srcset="" height="40px" width="45px">
          <h4>Social Media <br> Campaign</h4>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eveniet.</p>
          <button>Read More</button>

        </div>

      </div>
    </div>

    <div class="col-md-12 what_we_offer serv">

      <h3>Our Approach</h3>
      <div class="row circleRow">

        <div class="col-lg-3 col-sm-6 cirCol">

          <h5>Data-Driven Insights</h5>
          <p>
            We begin with secondary data analysis to identify broad electoral trends. For instance, in Maharashtra,
            regional realities and concerns dominate elections, with no pan-Maharashtra issue taking center stage.
          </p>

        </div>

        <div class="col-lg-3 col-sm-6 cirCol">

          <h5>Grassroots Perspective</h5>
          <p>
            The identified trends and issues are validated and refined through discussions with key grassroots
            stakeholders, such as local leaders, community representatives, and experts.
          </p>

        </div>

        <div class="col-lg-3 col-sm-6 cirCol">

          <h5>Understanding Voter Choice Architecture</h5>
          <p>
            By combining data and field insights, we analyze how issues, social alliances, and narratives influence
            voter decisions. This helps us explore the voter choice architecture, including the motivations and factors
            shaping electoral behavior.
          </p>

        </div>

        <div class="col-lg-3 col-sm-6 cirCol">

          <h5>Seat-Level Analysis</h5>
          <p>
            All insights are synthesized to assess each electoral seat, offering a detailed understanding of its unique
            dynamics.
          </p>

        </div>

      </div>


    </div>

    <div class="col-md-12 what_we_offer ">

      <h3>Ecosystem</h3>

      <p>
        "In today's fast-paced digital landscape, voters are constantly bombarded with information from various
        channels, such as social media, news outlets, and personal networks. This makes it crucial for political
        communications to be both targeted and effective. For example, a voter in a rural area might receive most of her
        information through local radio and community gatherings, whereas a young urban voter could rely on Instagram
        and Twitter for updates. At Dattansh, we understand the importance of reaching these diverse audiences with a
        strategic and adaptable approach."
      </p>

    </div>


    <div class="col-md-12 what_we_offer serv" style="background-color: #61040431;">

      <h3>Team</h3>
      <div class="row circleRow">

        <div class="col-lg-4 col-md-6 col-12 teamCol">
          <img src="../../../assets/image/khalid.jpg" alt="" srcset="" height="90px" width="95px">
          <h5>CEO</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, ea est? Accusantium dolorem amet nulla
            expedita, voluptas sunt delectus, facilis sint totam odio numquam ab dignissimos possimus ad, aspernatur
            dolorum.
          </p>
        </div>

        <div class="col-lg-4 col-md-6 col-12 teamCol">
          <img src="../../../assets/image/khalid.jpg" alt="" srcset="" height="90px" width="95px">
          <h5>CEO</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, ea est? Accusantium dolorem amet nulla
            expedita, voluptas sunt delectus, facilis sint totam odio numquam ab dignissimos possimus ad, aspernatur
            dolorum.
          </p>
        </div>

        <div class="col-lg-4 col-md-6 col-12 teamCol">
          <img src="../../../assets/image/khalid.jpg" alt="" srcset="" height="90px" width="95px">
          <h5>CEO</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, ea est? Accusantium dolorem amet nulla
            expedita, voluptas sunt delectus, facilis sint totam odio numquam ab dignissimos possimus ad, aspernatur
            dolorum.
          </p>
        </div>

      </div>


    </div>

    <div class="col-md-12 what_we_offer ">

      <h3>Story So far </h3>

      <p>
        "Several articles across newspapers and digital platforms have featured our analysis, showcasing the depth and
        relevance of our work. We have also partnered with prominent digital platforms like Capital TV and Red Mike to
        create impactful content based on our research, bringing data-driven insights to a wider audience."
      </p>

    </div>

  </div>

</div>